---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "../assets/styles.css"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <section id="header">
      <h2>FILTERIZER</h2>
    </section>
    <section id="main">
      <h3>Neighborhoods</h3>
      <slot />
    </section>
    <section id="footer">
      <p>A one-page art show recommendation website from <a href="https://www.hoggardwagner.org/">Barry Hoggard and James Wagner</a>.</p>
    </section>
  </body>
</html>


